# --- Python & System ---
__pycache__/
*.py[cod]
.DS_Store
venv/
.env

# --- Model Weights (Huge files) ---
*.pth
*.onnx
*.tflite

# --- YOLO/Training Outputs ---
runs/
wandb/

# --- Datasets (Don't upload images to GitHub usually) ---
dataset/
dataset_info/
labels/
labels_info/

